

<%= form_for(@theme_map_layer) do |f| %>

  <p>
    <%= f.label "theme map" %><br />
   <%= f.select("theme_map_id", ThemeMap.order('name ASC').collect { |p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
  </p>

  <p>
    <%= f.label "map layer" %><br />
   <%= f.select("map_layer_id", MapLayer.order('name ASC').collect { |p| [ p.name, p.id ] }, {include_blank: 'None'}) %>
   </p>
  <p>
    <%= f.label "base layer" %><br />
    <%= f.check_box :is_base_layer %>
  </p>
  <p>
    <%= f.label :interactive %><br />
    <%= f.check_box :is_interactive %>
  </p>
  <p>
    <%= f.label :draw_order %><br />
    <%= f.number_field :draw_order %>
  </p>
  <p>
    <%= f.label :line_color %><br />
    <%= f.text_field :line_color %>
  </p>
  <p>
    <%= f.label :line_width %><br />
    <%= f.text_field :line_width %>
  </p>
  <p>
    <%= f.label :fill_color %><br />
    <%= f.text_field :fill_color %>
  </p>
   <p>
    <%= f.label :layer_type %><br />
    <%= f.text_field :layer_type %>
  </p> <p>
    <%= f.label :opacity %><br />
    <%= f.number_field :opacity %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>


