<p>
  <b>Theme map:</b>
  <%=h @theme_map_layer.theme_map.name %>
</p>

<p>
  <b>Map layer:</b>
  <%=h @theme_map_layer.map_layer.name %>
</p>

<p>
  <b>Line color:</b>
  <%=h @theme_map_layer.line_color %>
</p>

<p>
  <b>Fill color:</b>
  <%=h @theme_map_layer.fill_color %>
</p>



<%= link_to 'Edit', edit_theme_map_layer_path(@theme_map_layer) %> |
<%= link_to 'Back', theme_map_layers_path %>
