<h1>Editing forum</h1>

<% form_for(@forum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :forum_name %><br />
    <%= f.text_field :forum_name %>
  </p>
  <p>
    <%= f.label :forum_url %><br />
    <%= f.text_field :forum_url %>
  </p>
  <p>
    <%= f.label :forum_permissions %><br />
    <%= f.text_field :forum_permissions %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @forum %> |
<%= link_to 'Back', forums_path %>