<p>
  <b>Forum name:</b>
  <%=h @forum.forum_name %>
</p>

<p>
  <b>Forum url:</b>
  <%=h @forum.forum_url %>
</p>

<p>
  <b>Forum permissions:</b>
  <%=h @forum.forum_permissions %>
</p>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>