<h1>Listing theme_map_layers</h1>

<table>
  <tr>
    <th>Theme maps</th>
    <th>Map layer</th>
    <th>Line color</th>
    <th>Fill color</th>
  </tr>

<% @theme_map_layers.each do |theme_map_layer| %>
  <tr>
    <td><%=h theme_map_layer.theme_map_id %></td>
    <td><%=h theme_map_layer.map_layer_id %></td>
    <td><%=h theme_map_layer.line_color %></td>
    <td><%=h theme_map_layer.fill_color %></td>
    <td><%= link_to 'Show', theme_map_layer %></td>
    <td><%= link_to 'Edit', edit_theme_map_layer_path(theme_map_layer) %></td>
    <td><%= link_to 'Destroy', theme_map_layer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New theme_map_layer', new_theme_map_layer_path %>