<br />
<h2>Interactive Maps</h2>
<br />
       
<%= link_to 'Map of Greenwood with City GIS Layers', :controller => 'overall_map', :action => 'index' %>

<br /><br />
<%= link_to 'Locations of Interested Neighbors and Block Facilitators', :controller => 'neighbors_map', :action => 'index' %>

<br /><br />
<%= link_to 'Draw your favorite walking paths', :controller => 'walk_surveys', :action => 'new' %>
<br /><br />

<br />
<h2>Precompiled Maps</h2>
<br />
<%= link_to 'Natural Resources', :controller => 'precompiled_maps', :action => 'index', :anchor => 'natural_resoures' %><br /><br />
<%= link_to 'Neighborhood Infrastructure', :controller => 'precompiled_maps', :action => 'index', :anchor => 'infrastructure' %><br /><br />
<%= link_to 'Transportation and Connectivity', :controller => 'precompiled_maps', :action => 'index', :anchor => 'transportation' %><br /><br />
<%= link_to 'Public Utilities', :controller => 'precompiled_maps', :action => 'index', :anchor => 'utilities' %><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />