<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ol3_vector_style.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @ol3_vector_style.alias %>
</p>

<p>
  <strong>Stroke width:</strong>
  <%= @ol3_vector_style.stroke_width %>
</p>

<p>
  <strong>Font size:</strong>
  <%= @ol3_vector_style.font_size %>
</p>

<p>
  <strong>Stroke color:</strong>
  <%= @ol3_vector_style.stroke_color %>
</p>

<p>
  <strong>Font color:</strong>
  <%= @ol3_vector_style.font_color %>
</p>

<p>
  <strong>Fill color:</strong>
  <%= @ol3_vector_style.fill_color %>
</p>

<p>
  <strong>Style type:</strong>
  <%= @ol3_vector_style.style_type %>
</p>

<%= link_to 'Edit', edit_ol3_vector_style_path(@ol3_vector_style) %> |
<%= link_to 'Back', ol3_vector_styles_path %>
