<h2>Administrator Functions:</h2>

<table>
  <tr>
    <th>Admin key</th>
  </tr>

<% @administrators.each do |administrator| %>
  <tr>
    <td><%=h administrator.admin_key %></td>
    <td><%= link_to 'Show', administrator %></td>
    <td><%= link_to 'Edit', edit_administrator_path(administrator) %></td>
    <td><%= link_to 'Destroy', administrator, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New administrator', new_administrator_path %>