<div class='left_margin'>

<h1>Listing neighbors</h1>


<table class='left_margin' >
  <tr>
    <th>First Name </th>
    <th>Last Name </th>

    <th>Address - -</th>
    <th>Block ID</th>
    <th>Phone Number - - - </th>
    <th>Email Address - - - - - -</th>

    <th>Facilitator?</th>
  </tr>

<% @neighbors.each do |neighbor| %>
  <tr>
    <td><%=h neighbor.first_name1 %></td>
    <td><%=h neighbor.last_name1 %></td>

    <td><%=h neighbor.address %></td>
    <td><%=h neighbor.half_block_id %></td>
    <td><%=h neighbor.phone_1 %></td>
    <td><%=h neighbor.email_1 %></td>

    <td><%=h neighbor.block_captain %></td>

    <td><%= link_to 'Show', neighbor %></td>
    <td><%= link_to 'Edit', edit_neighbor_path(neighbor) %></td>
    <td><%= link_to 'Destroy', neighbor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New neighbor', new_neighbor_path %>

</div>