<h1>Edit <%= @map_layer.name %></h1>
<p class='alert_text'>(admin page)</p>

<% form_for(@map_layer) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :draw_order %><br />
    <%= f.text_field :draw_order %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :layer_mapfile_text %><br />
    <%= f.text_area :layer_mapfile_text %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @map_layer %> |
<%= link_to 'Back', map_layers_path %>