<h1> Map Layers</h1>
<p class='alert_text'>(admin page)</p>

<table class='grid'>
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
    <th>Description</th>
    <th>Source Id</th>
  </tr>

<% @map_layers.each do |map_layer| %>
  <tr>
    <td><%=h map_layer.name %></td>
    <td><%=h map_layer.description %></td>
    <td><%=h map_layer.source_id %></td>

    <td>&nbsp; &nbsp; <%= link_to 'Show', map_layer %></td>
    <td><%= link_to 'Edit', edit_map_layer_path(map_layer) %></td>
    <td><%= link_to 'Destroy', map_layer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p><%= link_to 'New map_layer', new_map_layer_path %></p>
<br />
