<p class='alert_text'>(admin page)</p>
<p>
  <b>Name:</b>
  <%=h @map_layer.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @map_layer.layer_mapfile_text %>
</p>
<p>
  <b>Description:</b>
  <%=h @map_layer.description %>
</p>




<%= link_to 'Edit', edit_map_layer_path(@map_layer) %> |
<%= link_to 'Back', map_layers_path %>
