<h1><%=@theme_map.name%></h1>


<% form_for(@theme_map) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <table>
    <tr>
      <th>Include?</th>
      <th>Base Layer?</th>
      <th>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
      <th>Description</th>
  
    </tr>

  <% @map_layers.each do |layer| %>
    <tr>
      <td><%= check_box_tag "theme_map[layer_ids][]", layer.id, @theme_layer_ids.include?(layer.id), {:id => "layer_#{layer.id}"}%></td>
      <td><%= check_box_tag "theme_map[base_layer_ids][]", layer.id, @base_layer_ids.include?(layer.id), {:id => "layer_#{layer.id}"}%></td>
      <td><%=h layer.name %></td>
      <td><%=h layer.description %></td>
    </tr>
  <% end %>
  </table>
  
<br />
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>

<% end %>

<%= link_to 'Show', @theme_map %> |
<%= link_to 'Back', theme_maps_path %>