
  <h2 id="title"><%=h @theme_map.name %> </h2>  
  <p class='alert_text'>(admin page)</p>
  
  <% form_for @theme_map do |f| %>
      <%= f.error_messages %> 
    <p>
      <% if @theme_map.is_interactive %>
      NOTE: Changing title will orphan any existing data rows. <br />
      <% end %>
      <%= f.label 'Map Title' %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label 'is interactive?' %><br />
      <%= f.check_box :is_interactive %>
    </p>  


    <table>
      <tr>
        <th>Include:</th>
        <th>Base Layer:</th>
        <th>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
        <th>Description</th>
      </tr>
  
    <% @map_layers.each do |layer| %>
      <tr>
        <td><%= check_box_tag "theme_map[layer_ids][]", layer.id, @theme_layer_ids.include?(layer.id), {:id => "layer_#{layer.id}"}%></td>
        <td><%= check_box_tag "theme_map[base_layer_ids][]", layer.id, @base_layer_ids.include?(layer.id), {:id => "layer_#{layer.id}"}%></td>
        <td><%=h layer.name %></td>
        <td><%=h layer.description %></td>
      </tr>
    <% end %>
    </table>
    
  <br />
  <p>
      <%= f.submit 'Update' %>
    </p>
    <p>
      <%= f.label :description %><br />
      <p> Note: First paragraph to be a concise summary, the rest can be verbose and helpful to new user. </p>
      <%= f.text_area :description %>
    </p>

  <% end %>


<%= link_to 'Show', @theme_map %> |
<%= link_to 'Back', theme_maps_path %>