
<h2 id="title"><%=h @theme_map.name %> </h2>  
<p class='alert_text'>(admin page)</p>

<%= form_for @theme_map do |f| %>
  <%= f.label 'Map Title' %><br />
  <%= f.text_field :name %>
  <p>
    <%= f.label 'Interactive map?' %><br />
    <%= f.check_box :is_interactive %>
  </p>  
  <p>
    <%= f.label "thumbnail_url" %><br />
    <%= f.text_field :thumbnail_url , size:"40" %>
  </p>  
  
<table class="pretty-grid">
  <tr>
   <th>Title</th>
   <th>MapLayer</th>
   <th>Base?</th>
   <th>Visible?</th>
   <th>Interactive?</th>
    <th>Opacity</th>
    <th>Order</th>
    <th>LayerType</th>


  </tr>
  <h3>  Theme Map Layers</h3>
  <%= f.fields_for :theme_map_layers do |ff| %>
    <%= render partial: 'theme_map_layer_fields', locals: {f: ff} %>
  <% end -%>
  </table>

  <%= link_to_add_fields "add theme map layer", f, :theme_map_layers %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
  <p>
    <%= f.label :description %><br />
 <p> Note: First paragraph to be a concise summary, the rest can be verbose and helpful to new user.
</p>
    <%= f.text_area :description %>
  </p>
<% end -%>


<%= link_to 'Show', @theme_map %> |
<%= link_to 'Back', theme_maps_path %>
