<h1>New theme_map</h1>

<% form_for(@theme_map) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :layers %><br />
    <%= f.text_area :layers %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<table>
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
    <th>Description</th>

  </tr>

<% @map_layers.each do |map_layer| %>
  <tr>
    <td><%=h map_layer.name %></td>
    <td><%=h map_layer.description %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', theme_maps_path %>