
		<%= javascript_include_tag 'OpenLayers-2.8/OpenLayers' %>   
    <style type="text/css">
		    /* set the size of the map image here... */
        #map {
                width: 900px;
                height: 520px;
                border: 1px solid black;
                padding: 0px;
         }
				 /* get rid of extra white space so map can be larger... */
				 .content {
						padding: 10px;
				 }
  </style>
		
  <script defer="defer" type="text/javascript">    
    
    var map, infocontrols, water, highlightlayer;
    var mapserver_url = "<%= h APP_CONFIG['MAPSERVER_URL'] + "my_theme_map.map" %>";
		
    function init() {
      map = new OpenLayers.Map('map', {maxExtent: new OpenLayers.Bounds(1259300,253000,1269500,263500)});
      
      var theme_map_layer = new OpenLayers.Layer.WMS( "no aerial", mapserver_url,
        { layers: '<%= @layer_list %>',
          format: 'png',
          transparent: 'false'},
        { 
          scales: [100,200,400,800,1600,3200,6400,12800,25600,51200],
          units: 'm',
          projection:new OpenLayers.Projection("epsg:4326"),
          gutter:0,
          ratio:1,
          isBaselayer:true,
          singleTile:true,
        }
      );
        map.addLayers([theme_map_layer]);
        

/*
        info = new OpenLayers.Control.WMSGetFeatureInfo({
            url:  mapserver_url,
            title: 'Identify features by clicking',
            //queryVisible: true,
            maxFeatures: 1,
            layers: [neighbors_layer],
            eventListeners: {
                getfeatureinfo: function(event) {
                    map.addPopup(new OpenLayers.Popup.FramedCloud(
                        "chicken", 
                        map.getLonLatFromPixel(event.xy),
                        null,
                        event.text,
                        null,
                        true
                    ));
                }
            }
        });
        map.addControl(info);
        info.activate();
*/

        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.zoomToMaxExtent();
    }

	window.onload=init;
				
    </script>


  <div id="map" class="smallmap"></div>
  <h2 id="title"><%=h @theme_map.name %> </h2>
	<p id="shortdesc">
     Click on dots for name and contact info (currently disabled)
  </p>
  <div id="docs"></div>


<%= link_to 'Edit', edit_theme_map_path(@theme_map) %> |
<%= link_to 'Back', theme_maps_path %>