
  <style type="text/css">
    .content { padding: 10px; }  /* get rid of extra padding so map can be larger... */
  </style>

  <%= javascript_include_tag 'OpenLayers-2.8/OpenLayers' %>   

  <script defer="defer" type="text/javascript">    
    // generate the OpenLayers code to display the maps...
    <%= render :partial => 'open_layers_begin' %>
    <%= render :partial => 'map_layers', :collection => @theme_map.theme_map_layers, :as => :tml  %>
    <%= render :partial => 'open_layers_end' %>
  </script>

  <div id="map" class="smallmap"></div>
  <h2 id="title"><%=h @theme_map.name %> </h2>
  
  <% if current_user && current_user.roles[0].name  == "admin" %>
    <%= link_to 'Edit', edit_theme_map_path(@theme_map) %> |
    <%= link_to 'Back', theme_maps_path %>
  <% end %>

