<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @feature.guid %>
</p>

<p>
  <strong>User:</strong>
  <%= @feature.user_id %>
</p>

<p>
  <strong>Share type:</strong>
  <%= @feature.share_type_id %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
