<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= "greenwood.streetscapes.org" %></title>

  <%= stylesheet_link_tag "greenwood", :media => "all" %>
  <%= javascript_include_tag 'prototype' %>


</head>

<% if current_user %>
<% @user_name = current_user.name %>
<% end %>

<body>
  
 <!-- <p style="color: green"><%= flash[:notice] %></p>  -->
 <div id="banner">
	 Greenwood Streetscapes (local)
 </div>



    <div id="side">
 
        <div id="side_menu">
        <%= link_to 'Home',    				                :controller=> 'welcome'   %><br /><br />
	<%= link_to 'FAQ',                                  :controller=> 'FAQ'       %><br /><br />
	<%= link_to 'About Us',    		   		                :controller=> 'about'     %><br /><br />
        <a href="http://blog.streetscapes.org">Blog</a><br/><br/>
	<%= link_to 'Maps',    		   		                    :controller=> 'map'     %><br /><br />
				
    <!--    <a href="http://mapserver.streetscapes.org">Maps</a><br /><br />  -->
        <a href="http://dokuwiki.streetscapes.org">Greenwood<br/>Streetscapes<br/>Guide</a><br/><br/>
        <%= link_to 'Contact',    		          :controller=> 'contact'   %><br /><br />

     <!--   <%= link_to 'Sign Up!',    				      '/signup'   %><br /><br />   -->
        <%= link_to 'Sign Up!',    				      '/neighbors'   %><br /><br />
  
        <%= link_to 'Login',    				      '/login'   %><br /><br />
        <%= link_to 'Log Out',    				      '/logout'   %><br /><br />
  
      </div>

    </div>
    <div id="main">

			<%= yield %>

    </div>

</body>
</html>
