<%= render :partial => '/layouts/head' %>
<body>
  <div id="banner"> Neighbor Mapping
  </div>
  <div id="container">
    <div class="sidebar">
      <div id="side_menu">
        <%= @greeting %><br /><br />
        <%= link_to 'Home',                             :controller=> 'welcome'   %><br /><br />
        <%= link_to 'GIS Data Maps',                    :controller=> 'theme_maps'  %><br /><br />
        <%= link_to 'FAQ',                              { :controller => 'FAQ'},  :rel => "dropmenu1" %><br /><br />
        <%= link_to 'About Us',                         :controller=> 'about'     %><br /><br />
        <%= link_to 'Contact',                          :controller=> 'contact'   %><br /><br /><br /><br />
        <%= link_to 'Sign Up!',                       '/signup'   %><br /><br />
        <%= link_to 'Login',                          '/login'   %><br /><br />
        <%= link_to 'Log Out',                        '/logout'   %><br /><br />
        <%= link_to 'ADMIN',                          '/administrators'   %><br /><br />
        <%= link_to 'map layers',                     :controller=> 'map_layers'  %><br /><br />
      <% end %>
    </div>
  </div>
  <%= render :partial => '/layouts/content' %>
