<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= "greenwood.streetscapes.org" %></title>

  <%= stylesheet_link_tag "greenwood", :media => "all" %>

  

	<script type="text/javascript">

	</script>

	
	
</head>



<%   @user_name = '' %>
<%   @role = '' %>

<% if current_user %>
<%   @user_name = current_user.login %>
<%   user_role = current_user.roles[0] %>
<%   @role = user_role.name %>
<% else %>
<%   @user_name = 'not logged in' %>
<% end %>

<body>

 <!-- <p style="color: green"><%= flash[:notice] %></p>  -->
 <div id="banner">

		 Greenwood Streetscapes (local)

 </div>
 
<div id="container">


    <div class="sidebar">
        <div id="side_menu">
					
				name (login): <%= @user_name %><br /><br />
				role: <%= @role %><br /><br />
        <%= link_to 'Home',    				                      :controller=> 'welcome'   %><br /><br />
				
				
				<!-- <a href="http://blog.<%=APP_CONFIG['BASE_URL']%>">Blog</a><br/><br/> -->
				
				<%= link_to 'Forum',    		   		                :controller=> 'forums'     %><br /><br />
				
				
				
				
				<%= link_to 'Maps',    		   		                    :controller=> 'map'     %><br /><br />
							
				<a href="http://dokuwiki.<%=APP_CONFIG['BASE_URL']%>">Greenwood<br/>Streetscapes<br/>Guide</a><br/><br/>
				<%= link_to 'FAQ',                                { :controller => 'FAQ'},  :rel => "dropmenu1" %><br /><br />

				<%= link_to 'About Us',    		   		                :controller=> 'about'     %><br /><br />


				<%= link_to 'Contact',    		                     :controller=> 'contact'   %><br /><br /><br /><br />
				
				<% if current_user %>
				<%= link_to 'Update My Info', {  :controller => 'neighbors', :action => "show" ,
					:id => current_user.neighbor_id} %><br /><br />
				<% end %>

        <!--   <%= link_to 'Sign Up!',    				      '/signup'   %><br /><br />   -->
				<% if current_user.nil? %>
            <%= link_to 'Sign Up!',    				              '/signup'   %><br /><br />
  
            <%= link_to 'Login',    				                '/login'   %><br /><br />
			  <% else %>
        <%= link_to 'Log Out',    				              '/logout'   %><br /><br />
				<% end %>

				<% if @role == "admin" %>
            <%= link_to 'ADMIN',    				              '/administrators'   %><br /><br />
				<% end %>
				


      </div>
    </div>
		
    <div class="content">
			<%= yield %>
		<br /><br /><br />
		</div>

		<div id="footer">
			...
		</div>
		
</div>


</body>
</html>
