<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= APP_CONFIG['SITE_URL'] %></title>

  <%= stylesheet_link_tag APP_CONFIG['NEIGHBORHOOD'], :media => "all" %>
	
  <%= javascript_include_tag 'prototype' -%>
  <%= javascript_include_tag 'application' -%>
  <%= javascript_include_tag 'effects' -%>
  <%= javascript_include_tag 'dragdrop' -%>
</head>

<%   @greeting = '' %>
<%   @role = '' %>

<% if current_user %>
<%   @greeting = "Welcome, <br />#{current_user.login}" %>
<%   user_role = current_user.roles[0] %>
<%   @role = user_role.name %>
<% else %>
<%   @greeting = 'You are not logged in' %>
<% end %>

<body>

<% if !(params[:controller].match('map') || params[:controller].match('survey')) %>
 <div id="banner">
		 <%= APP_CONFIG['BANNER_TITLE'] %>
 </div>
 <% end %>

<div id="container">
    <div class="sidebar">
        <div id="side_menu">
				<%= @greeting %><br /><br />
        <%= link_to 'Home',    				                      :controller=> 'welcome'   %><br /><br />
				<%= link_to 'Discussion<br />Forum',    		   		  :controller=> 'forums'     %><br /><br />
				<%= link_to 'Maps &<br />Resources',    		   		  :controller=> 'maps'     %><br /><br />
				<%= link_to APP_CONFIG['GUIDE_TITLE'],    				              '/wiki'   %><br /><br />
				<%= link_to 'FAQ',                                { :controller => 'FAQ'},  :rel => "dropmenu1" %><br /><br />
				<%= link_to 'About Us',    		   		                :controller=> 'about'     %><br /><br />
				<%= link_to 'Contact',    		                     :controller=> 'contact'   %><br /><br /><br /><br />
				
				<% if current_user %>
				<%= link_to 'Update My Info', {  :controller => 'neighbors', :action => "show" ,
					                                :id => current_user.neighbor_id} %><br /><br />
				<% end %>

				<% if current_user.nil? %>
            <%= link_to 'Sign Up!',    				              '/signup'   %><br /><br />
            <%= link_to 'Login',    				                '/login'   %><br /><br />
				<% else %>
						<%= link_to 'Log Out',    				              '/logout'   %><br /><br />
				<% end %>

				<% if @role == "admin" %>
            <%= link_to 'ADMIN',    				              '/administrators'   %><br /><br />
						<%= link_to 'map layers',                      :controller=> 'map_layers'  %><br /><br />
						<%= link_to 'theme_maps',                      :controller=> 'theme_maps'  %><br /><br />
						<%= link_to 'theme layers',                      :controller=> 'theme_map_layers'  %><br /><br />
						
				<% end %>

      </div>
    </div>
		
    <div class="content">
			<% flash.each do |key, msg| %>						  
				<%= content_tag :div, msg, :class => [key, " message"],  :id => "notice_#{key}", :style => "border: 2px solid red; padding: 1em;margin-bottom: 2em;background-color: #f0f0f0;font: bold smaller sans-serif"%>
					<script type="text/javascript">
						setTimeout("new Effect.Fade('notice_<%= key %>');", 10000);
					</script>
			    
			<% end %>

			<%= yield %>
			<br />
			<br />
			<br />
			
		</div>

		<div id="footer">
			...
		</div>
		
		<!-- Start of StatCounter Code -->
			<script type="text/javascript">
			var sc_project=7003450; 
			var sc_invisible=1; 
			var sc_security="aa94c436"; 
			</script>
			<script type="text/javascript"
			src="http://www.statcounter.com/counter/counter.js"></script>
			<noscript><div class="statcounter"><a title="tumblr hit counter"
			href="http://statcounter.com/tumblr/" target="_blank"><img
			class="statcounter" src="http://c.statcounter.com/7003450/0/aa94c436/1/"
			alt="tumblr hit counter"></a></div></noscript>
		<!-- End of StatCounter Code -->


		</div>


</body>
</html>
