

<%= render  '/layouts/head' %>


<!-- begin /layouts/theme_maps.html - - - - - - - - - - - - - - - -->
<body>
  <div id="container">
    <div class="sidebar">
      <div id="side_menu">
        <%= link_to 'Home',                        :controller=> 'welcome'   %><br /><br />
        <%= link_to 'GIS Data Maps',               :controller=> 'theme_maps'  %><br /><br />
        <% if @theme_map && @theme_map.is_interactive -%>
          <%=  render "draw_controls" %>
        <% end -%>
      </div>
    </div>
    <style type="text/css">
      .content { padding: 10px; }  /* get rid of extra padding so map can be larger... */
    </style>
  <!-- - - - - - - - - end /layouts/theme_maps.html.erb - - - - - - -->
  <%= render '/layouts/content' %>

