 <%= render :partial => '/layouts/head' %>
 <!-- --- begin /layouts/theme_maps.html.erb --------  -->  
<body>
<div id="container">
  <div class="sidebar">
    <div id="side_menu">
      <%= link_to 'Home',                        :controller=> 'welcome'   %><br /><br />
      <%= link_to 'GIS Data Maps',               :controller=> 'theme_maps'     %><br /><br />
  <% if current_user && current_user.roles[0].name  == "admin" %>
        <%= link_to 'Map Layers',                :controller=> 'map_layers'  %><br /><br />
  <% end %>
    </div>
  </div>
	
  <style type="text/css">
    .content { padding: 10px; }  /* get rid of extra padding so map can be larger... */
  </style>
  <%= javascript_include_tag "#{APP_CONFIG['OPEN_LAYERS_VERSION']}/OpenLayers" -%>
	
  <!-- --- end /layouts/theme_maps.html.erb -------- --> 
 <%= render :partial => '/layouts/content' %>    

