 <%= render :partial => '/layouts/head' %>
 
<body>
<div id="container">
  <div class="sidebar">
    <div id="side_menu">
      <%= link_to 'Home',                        :controller=> 'welcome'   %><br /><br />
      <%= link_to 'GIS Data Maps',               :controller=> 'theme_maps'     %><br /><br />
      <% if @role == "admin" %>
        <%= link_to 'Map Layers',                :controller=> 'map_layers'  %><br /><br />
      <% end %>
    </div>
  </div>
  
 <%= render :partial => '/layouts/content' %>    

