<h1>Editing walk_survey</h1>

<% form_for(@walk_survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :neighbor_id %><br />
    <%= f.text_field :neighbor_id %>
  </p>
  <p>
    <%= f.label :route_frequencies %><br />
    <%= f.text_area :route_frequencies %>
  </p>
  <p>
    <%= f.label :routes %><br />
    <%= f.text_field :routes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @walk_survey %> |
<%= link_to 'Back', walk_surveys_path %>