<h1>Listing walk_surveys</h1>

<table>
  <tr>
    <th>Neighbor</th>
    <th>Route frequencies</th>
    <th>Routes</th>
  </tr>

<% @walk_surveys.each do |walk_survey| %>
  <tr>
    <td><%=h walk_survey.neighbor_id %></td>
    <td><%=h walk_survey.route_frequencies %></td>
    <td><%=h walk_survey.routes %></td>
    <td><%= link_to 'Show', walk_survey %></td>
    <td><%= link_to 'Edit', edit_walk_survey_path(walk_survey) %></td>
    <td><%= link_to 'Destroy', walk_survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New walk_survey', new_walk_survey_path %>